
<ion-content padding class=bg>
  <br><br><br>
  <h3 class="ion-text-center"><strong>INSTRUCTIONS</strong></h3>
  <ion-grid>
    <ion-row>
      <ion-col class="col ion-text-start"  size="auto">1</ion-col>
      <ion-col class="col ion-text-start">
      <ion-text>Register your emergency contact number on the Side Menu->
      ADD CONTACTS</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="col ion-text-start"  size="auto">2</ion-col>
      <ion-col class="col ion-text-start">
      <ion-text>Press the ALERT Widget or Button on the homepage in case
      of an EMERGENCY. On pressing the button, an ALERT message
      along with the link of your current LOCATION on google maps
      will be sent as an SMS to the emergency contacts</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="col ion-text-start"  size="auto">3</ion-col>
      <ion-col class="col ion-text-start">
      <ion-text>Press the ALARM button in case of an EMERGENCY
       and a high volume for the alarm will be played
      </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="col ion-text-start"  size="auto">4</ion-col>
      <ion-col class="col ion-text-start">
      <ion-text>Press the POLICE button in case of an EMERGENCY
       and it will immediately call 999 HELPLINE
      </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="col ion-text-start"  size="auto">5</ion-col>
      <ion-col class="col ion-text-start">
      <ion-text>We recommend you to use ALERT Widget and always
        keep GPS turned ON so that you can send Text ALERT in just
        one tap
      </ion-text>
      </ion-col>
    </ion-row>

  </ion-grid>
  <br>
  <ion-button routerLink="/main" >Ok, I got it.</ion-button>
</ion-content>
