
ion-content.bg {
   
    --background: linear-gradient(to top, #880808 10%, #fff 120%);
  
  }

ion-button{
  --background: rgba(12, 11, 11, 0.5);
  --background-hover: rgba(12, 11, 11, 0.5);
}

ion-card.try {
  background: rgba(255,255,255,0.5);
  border-radius: 15px;
}